version: '3'

volumes:
  pg_data:
  static:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: tastyborscht/cartridges_backend
    env_file: .env
    volumes:
      - static:/backend_static/
    depends_on:
      - db
  gateway:
    image: tastyborscht/cartridges_gateway
    env_file: .env
    volumes:
      - static:/static/
    ports:
      - 8090:80
    depends_on:
      - backend

