<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!--    Блок для подключения css  -->
    {% block link %} {% endblock %}
    <!--   -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/cartridges/css/navbar.css">
</head>
<body>
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'cartridges:cartridges_list' %}">Список картриджей</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'cartridges:commissioned_list' %}">Введённые в эксплуатацию</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}" class="logout-button">Выйти</a>
    </li>
  </ul>
</div>
</nav>
    {% block content %}
    {% endblock %}
{% else %}
<a href='/auth/login'>Авторизация </a>
{% endif %}
</body>
</html>
