{% extends 'cartridges/layout.html' %}
{% load static %}

{% block title %} Список картриджей{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'cartridges/css/cartridges_list.css' %}">
{% endblock %}
{% block content %}
    <div class="top-bar">
        <a href="{% url 'logout' %}" class="logout-button">Выйти</a>
    </div>
    <div class="head-row">
        <h1>Список картриджей</h1>
        <a href="{% url 'cartridges:cartridge_manage' %}" class="add-button">Добавить картридж</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Наименование картриджа</th>
                <th>Наименование устройства</th>
                <th>Дата получения</th>
                <th>Добавлен</th>
                <th>Инвентарный номер</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for cartridge in cartridges %}
        <tr>
            <td>{{ cartridge.name }}</td>
            <td>{{ cartridge.device_name }}</td>
            <td>{{ cartridge.acceptance_date|date:"d.m.Y" }}</td>
            <td>{{ cartridge.added_by }}</td>
            <td>{{ cartridge.inventory_number }}</td>
            <td><a href="{% url 'cartridges:cartridges_update' cartridge.pk %}" class="button-like">Изменить</a></td>
            <td><button>Ввести в экспл.</button></td>
            <td>
                <form method="post" action="{% url 'cartridges:cartridge_delete' cartridge.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="button-like red">Удалить</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="8">Нет данных</td>
        </tr>
    {% endfor %}
</tbody>

    </table>
{% endblock %}