{% extends 'cartridges/layout.html' %}
{% load static %}

{% block title %} Список картриджей{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'cartridges/css/cartridges_list.css' %}">
{% endblock %}

<!--body-->
{% block content %}
<!--    <div class="top-bar">-->
<!--        <a href="{% url 'logout' %}" class="logout-button">Выйти</a>-->
<!--    </div>-->
    <div class="head-row">
        <h1>Список картриджей</h1>
        <a href="{% url 'cartridges:cartridge_manage' %}" class="add-button">Добавить картридж</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Наименование картриджа</th>
                <th>Наименование устройства</th>
                <th>Дата получения</th>
                <th>Инвентарный номер</th>
                <th>Добавил</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <td><form action="{% url 'cartridges:search' %}"method="get"><input type='search'type="text"name="name"placeholder="наименованию"value="{{ name_query|default:'' }}"> <button type="submit"> Найти</button></form></td>
            <td><form action="{% url 'cartridges:search' %}"method="get"><input type='search'type="text"name="device"placeholder="наименованию"value="{{ device_query|default:'' }}"> <button type="submit"> Найти</button></form></td>
            <td><form method="get" action="{% url 'cartridges:search' %}"><input type="date" name="date_from"> до<input type="date" name="date_to"><button type="submit">Найти</button></form></td>
            <td><form action="{% url 'cartridges:search' %}"method="get"><input type='search'type="text"name="inventory_number"placeholder="Инвентарный"value="{{ inv_number_query|default:'' }}"> <button type="submit"> Найти</button></form></td>
            <td>
                <form method="get" action="{% url 'cartridges:search' %}">
                    <select name="user">
                        <option value="">Все пользователи</option>
                        {% for user in users %}
                        <option value="{{ user.id }}"
                                {% if selected_user == user.id|stringformat:"s" %}selected{% endif %}>
                            {{ user.username }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit">Фильтровать</button>
                </form>
            </td>

            {% for cartridge in cartridges %}
                <tr>
                    <td>{{ cartridge.name }}</td>
                    <td>{{ cartridge.device_name }}</td>
                    <td>{{ cartridge.acceptance_date|date:"d.m.Y" }}</td>
                    <td>{{ cartridge.inventory_number }}</td>
                    <td>{{ cartridge.added_by }}</td>
                    <td><a href="{% url 'cartridges:cartridges_update' cartridge.pk %}" class="button-like">Изменить</a></td>
                    <td><a href="{% url 'cartridges:commission' cartridge.id %}" class="btn btn-success">Ввести в эксплуатацию</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}